[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
torch = {file = "https://download.pytorch.org/whl/cu116/torch-1.12.1%2Bcu116-cp310-cp310-linux_x86_64.whl"}
torchvision = { file = "https://download.pytorch.org/whl/cu116/torchvision-0.13.1%2Bcu116-cp310-cp310-linux_x86_64.whl"}

[dev-packages]
pysen = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pynvim = "*"
ipython = "*"
debugpy = "*"
black = "*"

[requires]
python_version = "3.10"
